<form [formGroup]="taskForm" class="add-task-form">
  <input formControlName="name" type="text" placeholder="Add title" />
  @if(taskForm.controls['name'].invalid &&
  (isSubmitted||taskForm.controls['name'].touched ||
  taskForm.controls['name'].dirty)) {
  <div *ngIf="taskForm.controls['name'].errors?.['required']">
    <app-error [errorMessage]="requiredMessage"></app-error>
  </div>
  }
  <textarea
    formControlName="description"
    rows="4"
    cols="7"
    placeholder="Add description"
  ></textarea>
  @if(taskForm.controls['description'].invalid &&
  (isSubmitted||taskForm.controls['description'].touched ||
  taskForm.controls['description'].dirty)) {
  <div *ngIf="taskForm.controls['description'].errors?.['required']">
    <app-error [errorMessage]="requiredMessage"></app-error>
  </div>
  }
  <div class="form-buttons">
    <div></div>
    <div class="operations">
      <button (click)="onCancel()" class="cancel-button">Cancel</button>
      <button class="save-button" type="submit" (click)="onSubmit()">
        Save
      </button>
    </div>
  </div>
</form>
