.authenticate-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  background-image: url("../../../assets/Auth-pages-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lexend";
  color: #ffffff;
}
.info-container {
  top: 138.5px;
  left: 269px;
  padding: 30px 70px 30px 70px;
  gap: 10px;
  border-radius: 20px;
  background-color: #edb046;
  text-align: center;
}
.heading {
  font-family: Lexend;
  font-size: 40px;
  font-weight: 700;
}
.description {
  font-family: Lexend;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: -2%;
}
.error-message {
  width: 100px;
}
.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.form-input {
  width: 350px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px 0px #0000001a;
  color: #b5b5b5;
  border-style: none;
}
.error-message{
  width: 350px;
}
.form-input:focus {
  outline: none;
}
.password-text:focus {
  outline: none;
}
.password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 20px;
  border: none;
}
.password-text {
  border: none;
  border-style: none;
}
.eye-icon {
  font-size: 20px;
  color: red;
}
.submit {
  margin: 10px auto;
  width: 100px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #ba5112;
  font-size: 13px;
  cursor: pointer;
}
.footer {
  margin-left: 15%;
  font-size: 15px;
}
.navigate-link-text {
  margin-left: 1%;
  color: #ba5112;
  cursor: pointer;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}
.success {
  margin-top: 5px;
  color: green;
  text-align: center;
}
.danger {
  color: red;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .authenticate-body {
    width: 100%;
    height: 100%;
  }
  .info-container {
    top: 40px;
    left: 40px;
    padding: 5%;
    border-radius: 20px;
    background-color: #edb046;
    text-align: center;
    width: 90%;
  }
  .description {
    width: 100%;
    font-size: 10px;
    overflow-x: hidden;
    height: 100%;
  }
  .navigate-link-text {
    margin-left: 5px;
    color: #ba5112;
    cursor: pointer;
    width: 10%;
  }
  .footer {
    font-size: 12px;
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .form-input {
    width: 260px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 0px auto 10px auto;
    box-shadow: 2px 2px 8px 0px #0000001a;
    color: #b5b5b5;
    border-style: none;
  }
  .error-message
  {
    width: 260px;
    margin: 0px auto 0px auto;
  }
}
