<div class="items-list">
  @for(task of tasks;track task;) {
  <div
    #taskItem
    class="task-item"
    (click)="openTaskInfo($index)"
    [ngStyle]="
      task.statusName.toUpperCase() == 'COMPLETED'
        ? { 'background-color': '#EDB046' }
        : { 'background-color': 'white' }
    "
  >
    <img
      class="check-box"
      [src]="
        task.statusName.toUpperCase() == 'COMPLETED'
          ? '../../../assets/checked-box.png'
          : '../../../assets/unchecked-box.png'
      "
      alt="check-box"
    />
    <h3>{{ task.name }}</h3>
    <div
      class="task-item-info"
      *ngIf="pageName.toLowerCase() != 'dashboard'"
      [ngStyle]="
        task.statusName.toUpperCase() == 'COMPLETED'
          ? { 'background-color': '#EDB046' }
          : { 'background-color': 'white' }
      "
    >
      <p class="task-name">{{ task.name }}</p>
      <p
        class="duration"
        [ngStyle]="
          task.statusName.toUpperCase() == 'COMPLETED' ? { color: '#BA5112' } : { color: '#B5B5B5' }
        "
      >
        Added {{ calculateTime(task.createdon) }} ago
      </p>
      <h6><b>Description</b></h6>
      <P class="description">{{ task.description }}</P>
      <div class="operation-icons">
        <img
          [src]="
            task.statusName.toUpperCase() == 'COMPLETED'
              ? 'assets/checked-box.png'
              : 'assets/unchecked-box.png'
          "
          alt="complete"
          (click)="ToggleActiveComplete(task)"
        />
        <div class="edit-delete-icons">
          <img
            src="assets/edit.png"
            *ngIf="pageName.toLowerCase() == 'active'"
            (click)="openEditForm(task)"
            alt="edit"
          />
          <img
            [src]="
              task.statusName.toUpperCase() == 'COMPLETED'
                ? 'assets/delete-outlined.png'
                : 'assets/delete.png'
            "
            alt="delete"
            (click)="delete(task)"
          />
        </div>
      </div>
    </div>
  </div>
  }
</div>
