.index-page-header {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
}
.index-page-image {
  width: 370px;
  height: 409px;
  top: 103px;
  left: 70px;
  margin: 0vw 0vw 0vw 3vw;
}
.app-name {
  margin: 18vh 0vw 0vh 0vw;
  font-weight: 700;
  font-family: "Lexend";
  color: #ba5112;
}
.app-name h2 {
  font-size: 60px;
}
.subpart {
  margin-top: -20px;
  margin-left: 1.4vw;
}
@media only screen and (max-width: 900px) {
  .index-page-header {
    display: block;
    text-align: center;
  }
  .app-name {
    margin: auto;
  }
  .app-name h2 {
    margin: 0%;
  }
}
