.task-menu {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 10px 20px;
  justify-content: space-between;
  text-align: center;
}
.task-menu-heading h1 {
  font-family: "Lexend";
  font-size: 28px;
  font-weight: 800;
  text-align: left;
  color: #251814;
}
.operations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
}
.delete-button {
  display: block;
  border: none;
  color: #ba5112;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  cursor: pointer;
  text-align: center;
  margin: 10px 50px;
}
.date {
  font-size: 16px;
  font-weight: 400;
  color: #251814;
  margin: Auto 0px;
  align-items: right;
}
@media only screen and (max-width: 900px) {
  .task-menu {
    margin: 0px 10vw 10px 12px;
  }
  .task-menu-heading h1 {
    font-size: 10px;
    margin: 0px;
  }
  .operations {
    gap: 2px;
    justify-content: flex-end;
  }
  .delete-button {
    font-size: 10px;
    margin: 0px;
  }
  .date {
    padding-top: 2.3px;
    font-size: 10px;
    margin: 0px;
  }
  .task-name {
    display: none;
  }
}
