.text-danger {
  display: flex;
  margin: 0% 0% 0% 3%;
  width: 100%;
  flex-direction: row;
}
.danger-msg {
  color: red;
  font-size: 11px;
  margin: 0%;
  text-align: left;
}
.invalid {
  width: 10px;
  height: 12px;
  margin: 0.5% 1% 0% 0%;
}
@media only screen and (max-width: 900px) {
  .text-danger {
    width: 100%;
    margin:auto;
  }
}
