<div class="task-statuses">
  <div class="complete-status">
    <img class="status-image" src="../../assets/completed.png" />
    <div>
      <p class="percentage-text">{{ completionPercentage }}%</p>
      <p class="status-name">Completed tasks</p>
    </div>
  </div>
  <div class="active-status">
    <img class="status-image" src="../../assets/task-active.png" />
    <div>
      <p class="percentage-text">{{ activePercentage }}%</p>
      <p class="status-name">Active tasks</p>
    </div>
  </div>
</div>
